<%- include  ../commn/header.html%>

<div class="col-xs-8 col-sm-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><%=article.title%></h4>
            <%=article.user.username%>&nbsp;&nbsp;&nbsp;<%=article.createTime.toLocaleString()%>
        </div>
        <div class="panel-body">
            <%-article.content%>
        </div>
        <!--判断是不是文章的作者-->
        <%
        if(myuser && myuser._id== article.user._id)
        {
        %>
          <!--删除和编辑要判断当前登陆的用户是不是文章的作者-->
            <div class="panel-footer">
              <a href="/article/edit/<%=article._id%>" class="btn btn-warning">编辑</a>
             <a href="/article/delete/<%=article._id%>" class="btn btn-danger">删除</a>
            </div>

            <%
             }
           %>
    </div>

</div>
<%- include  ../commn/footer.html%>
