
<%- include  ../commn/header.html%>

<form class="form-horizontal" action="/article/post" method="post" role="form" >
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-6">
            <input type="text"  class="form-control" name="title" id="inputEmail3" placeholder="标题">
        </div>
    </div>
    <div class="form-group">
        <label for="con" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-6">
            <textarea name="content" id="con" placeholder="内容" class="form-control" rows="12" size="100"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-default">发表</button>
        </div>
    </div>


</form>


<%- include  ../commn/footer.html%>
